<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MemoApp</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>MemoApp <small>Version <%= version %></small></h1>
	<h2>MAP<h2>

	    <script type="text/javascript">
      		if( navigator.geolocation )
			{
				// 現在地を取得
				navigator.geolocation.getCurrentPosition(
			
					// [第1引数] 取得に成功した場合の関数
					function( position )
					{
						// 取得したデータの整理
						var data = position.coords ;
			
						// データの整理
						var lat = data.latitude ;
						var lng = data.longitude ;
						var alt = data.altitude ;
						var accLatlng = data.accuracy ;
						var accAlt = data.altitudeAccuracy ;
						var heading = data.heading ;			//0=北,90=東,180=南,270=西
						var speed = data.speed ;
		
						// アラート表示
						//alert( lat ) ;

						// HTMLへの書き出し
						document.getElementById( 'result' ).innerHTML = '<dl><dt>緯度</dt><dd>' + lat + '</dd><dt>経度</dt><dd>' + lng + '</dd><dt>高度</dt><dd>' + alt + '</dd><dt>緯度、経度の精度</dt><dd>' + accLatlng + '</dd><dt>高度の精度</dt><dd>' + accAlt + '</dd><dt>方角</dt><dd>' + heading + '</dd><dt>速度</dt><dd>' + speed + '</dd></dl>' ;

						// 位置情報
						var latlng = new google.maps.LatLng( lat , lng ) ;

						// Google Mapsに書き出し
						var map = new google.maps.Map( document.getElementById( 'map-canvas' ) , {
							zoom: 15 ,				// ズーム値
							center: latlng ,		// 中心座標 [latlng]
						} ) ;

						// マーカーの新規出力
						new google.maps.Marker( {
							map: map ,
							position: latlng ,
						} ) ;


					},
					// [第2引数] 取得に失敗した場合の関数
					function( error )
					{
						// エラーコード(error.code)の番号
						// 0:UNKNOWN_ERROR				原因不明のエラー
						// 1:PERMISSION_DENIED			利用者が位置情報の取得を許可しなかった
						// 2:POSITION_UNAVAILABLE		電波状況などで位置情報が取得できなかった
						// 3:TIMEOUT					位置情報の取得に時間がかかり過ぎた…
			
						// エラー番号に対応したメッセージ
						var errorInfo = [
							"原因不明のエラーが発生しました…。" ,
							"位置情報の取得が許可されませんでした…。" ,
							"電波状況などで位置情報が取得できませんでした…。" ,
							"位置情報の取得に時間がかかり過ぎてタイムアウトしました…。"
						] ;
			
						// エラー番号
						var errorNo = error.code ;
			
						// エラーメッセージ
						var errorMessage = "[エラー番号: " + errorNo + "]\n" + errorInfo[ errorNo ] ;
			
						// アラート表示
						alert( errorMessage ) ;
					} ,
			
					// [第3引数] オプション
					{
						"enableHighAccuracy": false,
						"timeout": 8000,
						"maximumAge": 2000,
					}
			
				) ;
			}
			// 対応していない場合
			else
			{
				// エラーメッセージ
				var errorMessage = "お使いの端末は、GeoLacation APIに対応していません。" ;
			
				// アラート表示
				alert( errorMessage ) ;
			}
      	</script>

	<div class="map-wrapper">
		<div id="map-canvas"></div>
	</div>
	<h2>MEMO<h2>
      <a href="#" data-remote="/memos" class="btn btn-primary" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false">新規作成</a>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-sm-8">タイトル</th>
              <th class="col-sm-3 text-center">更新日時</th>
              <th class="col-sm-1 text-center">削除</th>
            </tr>
          </thead>
          <tbody>
            <% list.forEach(function(row) { %>
            <tr>
              <td>
                <a href="#" data-remote="/memos/<%= row.id %>" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false"><%= row.title %></a>
              </td>
              <td class="text-center">
                <%= row.updatedAt %>
              </td>
              <td class="text-center">
              <form method="POST" action="/memos/<%= row.id %>?_method=DELETE">
                <button type="submit" class="btn btn-link btn-xs">
                  <span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">削除</span>
                </button>
              </form>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="modal" id="dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
	<!-- JavaScriptの読み込み -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzTNCHkW3ihWvX1qK5X21mIF6RIJg0hUo"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(document).on("hidden.bs.modal", function(event) {
          $(event.target).removeData("bs.modal").find(".modal-content").empty();
        });
      });
    </script>
  </body>
</html>