<script type="text/javascript">
  if (navigator.geolocation) {

    // 現在の位置情報を取得
    navigator.geolocation.getCurrentPosition(

      // （1）位置情報の取得に成功した場合
      function (pos) {
        document.getElementById("ref-latitude").textContent = "緯度"+pos.coords.latitude;
        document.getElementById("ref-longitude").textContent = "経度"+pos.coords.longitude;
      },
      // （2）位置情報の取得に失敗した場合
      function (error) {
        var message = "";

        switch (error.code) {

          // 位置情報が取得できない場合
          case error.POSITION_UNAVAILABLE:
            message = "位置情報の取得ができませんでした。";
            break;

          // Geolocationの使用が許可されない場合
          case error.PERMISSION_DENIED:
            message = "位置情報取得の使用許可がされませんでした。";
            break;

          // タイムアウトした場合
          case error.PERMISSION_DENIED_TIMEOUT:
            message = "位置情報取得中にタイムアウトしました。";
            break;
        }
        window.alert(message);
      }
    );
  } else {
    window.alert("本ブラウザではGeolocationが使えません");
  }
</script>

<script type="text/javascript">
<!--
function ChangeTab(tabname) {
   // 全部消す
   document.getElementById('tab1').style.display = 'none';
   document.getElementById('tab2').style.display = 'none';
      // 指定箇所のみ表示
      if(tabname) {
         document.getElementById(tabname).style.display = 'block';
      }	   
}

function ChangeSelectbox(id_name){
   pulldown_option = document.getElementById("question_class").getElementsByTagName('option');
   for(i=0; i<pulldown_option.length;i++){
      if(pulldown_option[i].value == id_name){
         pulldown_option[i].selected = true;
         break;
      }
   }
}

function LoadImage(src){
   // alert(src);
   if (src!='undefined'){
	document.getElementById("loadimage").src = src;
   }
}

// -->
</script>


<script>
// Check for the various File API support.
if (window.File && window.FileReader && window.FileList && window.Blob) {
  // Great success! All the File APIs are supported.
} else {
  alert('The File APIs are not fully supported in this browser.');
}
</script>


<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    document.getElementById('list').textContent = null;

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');

//	var base64data = e.target.result.split(",");;
//          span.innerHTML = ['<img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/><input  name="attachment_name" id="" value="', theFile.name,'"><input  name="attachment_content_type" id="" value="', theFile.type,'"><input  name="attachment_lastModifiedDate" id="" value="', theFile.lastModifiedDate,'"><input  name="attachment_size" id="" value="', theFile.size,'"><input  name="attachment_base64" id="" value="', base64data[1],'">'].join('');
//          span.innerHTML = ['"アップロード予定の画像"<br><img class="thumb" " src="', e.target.result,'" title="', escape(theFile.name), '"/><br><input  type="hidden"  name="attachment_name" id="attachment_name" value="', theFile.name,'"><br><input type="hidden" name="attachment_content_type" id="attachment_content_type" value="', theFile.type,'"><br><input type="hidden" name="attachment_lastModifiedDate" id="attachment_lastModifiedDate" value="', theFile.lastModifiedDate,'"><br><input type="hidden" name="attachment_size" id="attachment_size" value="', theFile.size,'"><br><input type="hidden" name="attachment_base64" id="attachment_base64" value="', e.target.result,'">'].join('');
          span.innerHTML = ['"アップロード予定の画像"<br><img class="thumb" src="', e.target.result,'" title="', escape(theFile.name), '"/><input style="display:none" name="attachment_name" id="attachment_name" value="', theFile.name,'"><input style="display:none" name="attachment_content_type" id="attachment_content_type" value="', theFile.type,'"><input style="display:none" name="attachment_lastModifiedDate" id="attachment_lastModifiedDate" value="', theFile.lastModifiedDate,'"><input style="display:none" name="attachment_size" id="attachment_size" value="', theFile.size,'"><input style="display:none" name="attachment_base64" id="attachment_base64" value="', e.target.result,'">'].join('');

          document.getElementById('list').appendChild(span);

        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);

    }
  }

  document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>

<form method="POST" action="/memos<%= id ? '/' + id + '?_method=PUT' : '' %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
    </button>
    <h4 class="modal-title" id="modalTitle">ボウサイカード　＜実践＞</h4>

    <fieldset>
      <div class="form-group">
        <label for="title">カード名</label> 
        <input type="text" class="form-control" id="title" name="title" maxlength='28' placeholder="タイトル" value="<%= doc ? doc.title : '' %>" required>
      </div>

  <div class="tabbox">
    <p class="tabs">
      <a href="#tab1" class="tab1" onclick="ChangeTab('tab1'); return false;" style="background:#ccffcc;border:#00ff00 solid 1px;">表面</a>
      <a href="#tab2" class="tab2" onclick="ChangeTab('tab2'); return false;" style="background:#ccffcc;border:#00ff00 solid 1px;">裏面</a>
    </p>
  </div>

    </fieldset>


  <div class="modal-body">
    <div id="tab1" class="tab">
    <fieldset>
      <div class="form-group">	
	<img id="loadimage" src="" >

	<!-- <input type="file" id="files" name="files[]" multiple /> -->
	<input type="file" id="files" name="files[]" />
	<output id="list"></output>
      </div>

      <div class="form-group">
        <label for="latlong">入手場所　(現在地：</label>
        <label id="ref-latitude" for="latitude"></label>
	<label for="latitude">,</label>
	<label id="ref-longitude" for="longitude"></label>
        <label for="longitude">)</label>

        <input type="text" class="form-control" id="edit-latitude" name="latitude" placeholder="緯度" value="<%= doc ? doc.latitude : '' %>" >
        <input type="text" class="form-control" id="edit-longitude" name="longitude" placeholder="経度" value="<%= doc ? doc.longitude : '' %>" >
      </div>

    </fieldset>
    </div>

    <div id="tab2" class="tab">
    <fieldset>
      <div class="form-group">
        <label>問題カテゴリ</label> 
	<br>
	<select name="question_class" id="question_class">
		<option value="WHAT">WHAT:～とは何ですか？</option>
		<option value="WHY">WHY:～はなぜですか？</option>
		<option value="WHERE">WHERE:～はどこにありますか？</option>
		<option value="WHEN">WHEN:～とはいつですか？</option>
		<option value="HOW_MUCH">HOW_MUCH:～はいくらですか？</option>
		<option value="HOW_MANY">HOW_MANY:～どれぐらい必要ですか？</option>
		<option value="HOW_LONG">HOW_LONG:～はどのぐらいの期間ですか？</option>
		<option value="WHO">WHO:～とは誰ですか？</option>
		<option value="HOW">HOW:～はどうやればよいですか？</option>
		<option value="WILL">WILL:～とどうなりますか？</option>
	</select>

	<br>

        <label for="title">問題文</label> 
        <textarea class="form-control" id="question" name="question" rows="2"  maxlength='70' placeholder="問題文を記載してください"><%= doc ? doc.question : '' %></textarea>

      </div>

      <div class="form-group">
        <label for="title">正解の回答</label> 
	<br>
        <input type="text" class="form-control" id="answer" name="answer"  maxlength='28' placeholder="回答文を記載してください" value="<%= doc ? doc.answer : '' %>">
	<br>
        <label for="title">間違った回答</label> 
	<br>
        <input type="text" class="form-control" id="bad_answer1" name="bad_answer1" maxlength='28' placeholder="回答文を記載してください" value="<%= doc ? doc.bad_answer1 : '' %>">
        <input type="text" class="form-control" id="bad_answer2" name="bad_answer2" maxlength='28' placeholder="回答文を記載してください" value="<%= doc ? doc.bad_answer2 : '' %>">
        <input type="text" class="form-control" id="bad_answer3" name="bad_answer3" maxlength='28' placeholder="回答文を記載してください" value="<%= doc ? doc.bad_answer3 : '' %>">
      </div>

      <div class="form-group">
        <label for="content">カードの説明</label>
        <textarea class="form-control" id="information" name="information" rows="5"  maxlength='140' placeholder="説明文を記載してください"><%= doc ? doc.information : '' %></textarea>

        <label for="title">参考情報リンク</label> 
        <input type="text" class="form-control" id="ref_url" name="ref_url" maxlength='180' placeholder="URL" value="<%= doc ? doc.ref_url : '' %>">

      </div>

    </fieldset>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">保存</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal">キャンセル</button>
  </div>

	<script type="text/javascript">
	<!-- // デフォルトのタブを選択
	ChangeTab('tab1');
	ChangeSelectbox('<%= doc ? doc.question_class : '' %>');
	LoadImage('<%= doc ? doc.attachment_base64 : '' %>');
	-->
	</script>

</form>

