<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bousai-Go</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


<script src="http://api.its-mo.com/cgi/loader.cgi?key=JSZf2b54f3ee3d0&ver=2.0&api=zdcmap.js,shape.js,search.js&enc=UTF8&force=1" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
    var map, lat = 33.585400833, lon = 130.420721667;

    function loadMap() {
        map = new ZDC.Map(
            document.getElementById('ZMap'),
            {
                latlon: new ZDC.LatLon(lat, lon),
                zoom: 10
            }
        );
        /* 地図をクリックしたときの動作 */
        ZDC.addListener(map, ZDC.MAP_CLICK, getClickLatLon);
    };

    /* クリックした地点の緯度経度を表示する */
    function getClickLatLon() {
        var latlon =  map.getClickLatLon();
        alert('緯度：' + latlon.lat + ' 経度：' + latlon.lon);
    };
//]]>
</script>

  </head>
  <body onload="loadMap()">
  
    <div class="container">
      <h1>ボウサイGo<small> / Ver.<%= version %></small></h1>

	<h2>ルート</h2>
	<p>避難ルートを表示。	地図をクリックして、確認したいポイントを選び、ルーと補正を押すと経路が自動的に算出されます
	<a href="http://crisis.yahoo.co.jp/shelter/map/">参考：避難地図</a>
    </p>
	
    <div id="ZMap" style="border:1px solid #777777; width:90%; height:300px;"></div>
<!--    <div style="bottom:10px; left:10px; position:absolute;"> -->
    <div>
     <!-- <input type="button" value="補正" onclick="routeSearch();"/><br> -->
     <button type="button" class="btn btn-success" onclick="routeSearch();">ルート補正</button>
     <button type="button" class="btn btn-info" onclick="loadMap();">リセット</button>
    </div>

	<h2>マイバインダー</h2>
	<p>見つけた危険場所/防災アイテムをカードとして管理します。100個まで登録できます。</p>

      <a href="#" data-remote="/memos" class="btn btn-primary" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false">新規作成</a>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-sm-8">カード名</th>
              <th class="col-sm-3 text-center">更新日時</th>
              <th class="col-sm-1 text-center">削除</th>
            </tr>
          </thead>
          <tbody>
            <% list.forEach(function(row) { %>
            <tr>
              <td>
                <a href="#" data-remote="/memos/<%= row.id %>" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false"><%= row.title %></a>
              </td>
              <td class="text-center">
                <%= row.updatedAt %>
              </td>
              <td class="text-center">
              <form method="POST" action="/memos/<%= row.id %>?_method=DELETE">
                <button type="submit" class="btn btn-link btn-xs">
                  <span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">削除</span>
                </button>
              </form>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="modal" id="dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(document).on("hidden.bs.modal", function(event) {
          $(event.target).removeData("bs.modal").find(".modal-content").empty();
        });
      });
    </script>
  </body>
</html>