
<script type="text/javascript">
<!--

function LoadImage(attachment_name,attachment_type,attachment_lastModifiedDate,attachment_size,attachment_base64){

   document.getElementById("loadimage").src = attachment_base64;
   document.getElementById("attachment_name").value = attachment_name;
   document.getElementById("attachment_type").value = attachment_type;
   document.getElementById("attachment_lastModifiedDate").value = attachment_lastModifiedDate;
   document.getElementById("attachment_size").value = attachment_size;
   document.getElementById("attachment_base64").value = attachment_base64;

}

// -->
</script>



<form method="POST" action="/memos8<%= id ? '/' + id + '?_method=PUT' : '' %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
    </button>
    <h4 class="modal-title" id="modalTitle">ボウサイカード</h4>

    <fieldset>

      <div class="form-group">
        <label for="title">カード名（メッセージ）</label> 
        <input type="text" class="form-control" id="title" name="title" maxlength='28' placeholder="タイトル" value="<%= doc ? doc.title : '' %>" disabled>
      </div>

    </fieldset>


  <div class="modal-body">
    <div id="tab1" class="tab">
    <fieldset>
<!--
      <label for="title">想定した問い</label> 
      <textarea class="form-control" id="question" name="question" rows="2"  maxlength='70' placeholder="問題文を記載してください" disabled><%= doc ? doc.question : '' %></textarea>

      <div class="form-group">
        <label for="title">回答</label> 
	<br>
        <input type="text" class="form-control" id="answer" name="answer"  maxlength='28' placeholder="回答文を記載してください" value="<%= doc ? doc.answer : '' %>" disabled>
      </div>
-->
      <div class="form-group">	
	<img id="loadimage" src="" >

	<input style="display:none" name="attachment_name" id="attachment_name" value="">
	<input style="display:none" name="attachment_type" id="attachment_type" value="">
	<input style="display:none" name="attachment_lastModifiedDate" id="attachment_lastModifiedDate" value="">
	<input style="display:none" name="attachment_size" id="attachment_size" value="">
	<input style="display:none" name="attachment_base64" id="attachment_base64" value="">

	<!-- <input type="file" id="files" name="files[]" multiple /> -->
	<!-- <input type="file" id="files" name="files[]" /> -->
      </div>

      <div class="form-group">
        <label for="content">撮影時メモ</label>
        <textarea class="form-control" id="information" name="information" rows="5"  maxlength='140' placeholder="説明文を記載してください" disabled><%= doc ? doc.information : '' %></textarea>
      </div>

      <div class="form-group">
        <label for="latlong">場所</label>
        <input type="text" class="form-control" id="edit-latitude" name="latitude" placeholder="緯度" value="<%= doc ? doc.latitude : '' %>" disabled>
        <input type="text" class="form-control" id="edit-longitude" name="longitude" placeholder="経度" value="<%= doc ? doc.longitude : '' %>" disabled>
      </div>

      <div class="form-group">
        <label for="title">関連情報リンク</label> 
        <input type="text" class="form-control" id="ref_url" name="ref_url" maxlength='180' placeholder="URL" value="<%= doc ? doc.ref_url : '' %>" disabled>
      </div>

    </fieldset>
    </div>


    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">キャンセル</button>
  </div>

	<script type="text/javascript">
	<!-- 
	LoadImage('<%= doc ? doc.attachment_name : '' %>','<%= doc ? doc.attachment_type : '' %>','<%= doc ? doc.attachment_lastModifiedDate : '' %>','<%= doc ? doc.attachment_size : '' %>','<%= doc ? doc.attachment_base64 : '' %>');
	-->
	</script>

</form>

